<div align="center">
    <a href="/" id="tulisan">Home | </a>
    <a href="/about" id="tulisan">About | </a>
    <a href="/article" id="tulisan"> Article | </a>
    <a href="/contact" id="tulisan"> Contatc | </a>
    <a href="profile" id="tulisan"> Profile</a>
</div>