<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Company Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <%- include('partials/navigation') %>

        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente iste recusandae velit reiciendis, molestias impedit odio reprehenderit repellendus ducimus facilis in, aperiam aliquam explicabo dicta pariatur aut, quisquam cum nostrum? Accusantium,
            atque esse, voluptates maiores modi porro voluptatem suscipit eveniet obcaecati voluptatibus sequi corporis deserunt facilis, accusamus consequatur similique ab eius dolores? Accusantium nam sunt quam hic id ullam voluptatem maxime? Dolor
            nisi in doloribus accusantium minus molestiae, doloremque eveniet aliquid quae ex, incidunt reprehenderit culpa reiciendis, et fugiat totam est eum magni sapiente voluptatibus quas. Atque id minus deleniti eius praesentium laborum magnam quaerat
            ipsum rem veritatis. Optio, quidem!</p>
</body>

</html>