<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Go Kill</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <%- include(`partials/navigation`) %><br>
        <div align="center">
            <h1>Blog Go Kill</h1>
        </div>

        <marquee width="100%">Selamat Datang di Blog Kami...!</marquee>
        <div align="center"><img src="assets/bayi.jpg" width="250px"></div><br>

        <%- include(`partials/footer`) %><br>
</body>

</html>